<footer>
	This is the footer.
	<% if (tall === 'true') { %>
		It is tall
	<% } else { %>
		It is short
	<% } %>
</footer>

<div class="partial" data-partial="partials/copyright" data-year="2014"></div>