<div class="panel panel-primary">
	<header class="panel-heading">
		<h3 class="panel-title">
			Animate.css example
			<a href="http://daneden.github.io/animate.css/">
				 (docs)
			</a>
		</h3>
	</header>
	<div class="panel-body">
		<div class="animate-me well">
			Animate me!
		</div>
    <pre class="animate-html"></pre>

    <p>
      <button class="btn btn-default animate-button">bounce</button>
      <button class="btn btn-default animate-button">flash</button>
      <button class="btn btn-default animate-button">pulse</button>
      <button class="btn btn-default animate-button">shake</button>
    </p>

    <p>
      <button class="btn btn-default animate-button">bounceOutDown</button>
      <button class="btn btn-default animate-button">flipInX</button>
      <button class="btn btn-default animate-button">lightSpeedIn</button>
      <button class="btn btn-default animate-button">hinge</button>
    </p>

    <p>
      <button class="btn btn-default animate-button">zoomOutDown</button>
      <button class="btn btn-default animate-button">rollIn</button>
    </p>
	</div>
</div>