<div class="panel panel-primary">
  <header class="panel-heading">
    <h3 class="panel-title">
      Bootstrap component examples
      <a href="http://getbootstrap.com/components/">
        (docs)
      </a>
    </h3>
  </header>
  <div class="panel-body">
    <div class="btn-group">
      <button type="button" class="btn btn-default">These</button>
      <button type="button" class="btn btn-default">Buttons</button>
      <button type="button" class="btn btn-default">Are ok</button>
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-star"></span>
      </button>
    </div>

    <hr>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
      </ul>
    </div>

    <hr>

    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
    </ul>

    <hr>

    <a href="#">Inbox <span class="badge">42</span></a>

    <hr>

    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        <span class="sr-only">40% Complete (success)</span>
      </div>
    </div>

    <hr>

    <p>
      <button type="button" class="has-tooltip btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
    </p>

    <pre>
$('.has-tooltip').tooltip();</pre>

  </div>
</div>