<div class="panel panel-primary">
	<header class="panel-heading">
		<h3 class="panel-title">
			jQuery Transit example
			<a href="http://ricostacruz.com/jquery.transit/">
				 (docs)
			</a>
		</h3>
	</header>
	<div class="panel-body">
		<p>
			These are just CSS transforms + transitions, but jQuery transit makes applying, animating, and combining them simpler.
		</p>

    <br/>

		<div class="transit-me well">
			jQuery transit transformations
		</div>

    <pre class="transit-code"></pre>

    <br/>

		<p>
			<button class="btn btn-default transit-button" data-origin="0">rotate: '45deg'</button>
			<button class="btn btn-default transit-button" data-origin="1">scale: '1.5'</button>
			<button class="btn btn-default transit-button" data-origin="1">scaleY: '0.2'</button>
			<button class="btn btn-default transit-button" data-origin="0">skewX: '10deg'</button>
		</p>

		<p>
			<button class="btn btn-default transit-button" data-origin="0, 0">translate: '100px, -100px'</button>
			<button class="btn btn-default transit-button" data-origin="0, 0, 0, 0">rotate3d: '1, -1, 0, 60deg'</button>
		</p>

	</div>
</div>