<div class="panel panel-default">
	<header class="panel-heading">
		<h3 class="panel-title">
			Animate.css examples
			<a href="http://daneden.github.io/animate.css/">
				 (docs)
			</a>
		</h3>
	</header>
	<div class="panel-body">
		<div class="animate-me well">
			Animate me!
		</div>

    <p>
      <button class="btn btn-default animate-button" data-animation="bounce">Bounce</button>
      <button class="btn btn-default animate-button" data-animation="flash">Flash</button>
      <button class="btn btn-default animate-button" data-animation="pulse">Pulse</button>
      <button class="btn btn-default animate-button" data-animation="shake">Shake</button>
      <button class="btn btn-default animate-button" data-animation="bounceOutDown">bounceOutDown</button>
      <button class="btn btn-default animate-button" data-animation="flipInX">flipInX</button>
    </p>

    <p>
      <button class="btn btn-default animate-button" data-animation="lightSpeedIn">lightSpeedIn</button>
      <button class="btn btn-default animate-button" data-animation="rotateOutDownLeft">rotateOutDownLeft</button>
      <button class="btn btn-default animate-button" data-animation="hinge">hinge</button>
      <button class="btn btn-default animate-button" data-animation="zoomOutDown">zoomOutDown</button>
      <button class="btn btn-default animate-button" data-animation="rollIn">rollIn</button>
    </p>
	</div>
</div>